{{! dashboard page  where only the posts the user has created appear there}}
{{! I am taken to the dashboard and presented with any blog posts I have already created and the option to add a new blog post }}
{{! WHEN I click on the button to add a new blog post
THEN I am prompted to enter both a title and contents for my blog post
WHEN I click on the button to create a new blog post
THEN the title and contents of my post are saved and I am taken back to an updated dashboard with my new blog post
WHEN I click on one of my existing posts in the dashboard
THEN I am able to delete or update my post and taken back to an updated dashboard }}
<section class="section">
  <div
    class="columns has-text-centered is-centered is-mobile is-flex-wrap-wrap"
  >
    {{! each blogPost will appear as a card with a button to update a post and a button to delete a post}}
    {{#if blogPosts}}
      {{#each blogPosts as |blogPost|}}
        <div class="column is-mobile">
          <div class="container has-text-centered">
            <div class="card m-3" data-id="{{blogPost.id}}">
              <div class="card-content has-text-centered">
                <div class="content">
                  <h2 class="subtitle">Title: {{blogPost.title}}</h2>
                  <div class="card-body">
                    <p class="has-text-centered">{{blogPost.date_created}}</p>
                    <p class="has-text-centered">{{blogPost.content}}</p>
                    <button
                      class="button has-background-danger-dark has-text-white mt-2 delete-post-btn"
                      data-id="{{blogPost.id}}"
                    >Update post</button>
                    <button
                      class="button has-background-danger-dark has-text-white mt-2 update-post-btn"
                      data-id="{{blogPost.id}}"
                    >Delete post</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
  <div class="columns is-mobile is-centered">
    <div class="column is-mobile">
      <div class="container">
        <button
          class="js-modal-trigger button is-primary"
          data-target="modal-js-example"
        >
          + Create a new blog post
        </button>
      </div>
    </div>
  </div>
</section>
<div id="modal-js-example" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="subtitle has-text-centered">Create a new blogpost!</h2>
      <div class="field">
        <label class="label new-game-name">Title</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Title of your post..."
            id="new-post-title"
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <textarea
            class="textarea label new-post-content"
            placeholder="Content of your post..."
          ></textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button
            class="button has-background-primary has-text-white new-post-btn"
            type="submit"
          >
            Create
          </button>
        </div>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
<script src="../public/js/dashboard.js"></script>