<section class="section">
  <div
    class="columns has-text-centered is-centered is-mobile is-flex-wrap-wrap"
  >
    {{! each blogPost will appear as a card with a button to update a post and a button to delete a post}}
    {{#if blogPosts}}
      {{#each blogPosts as |blogPost|}}
        <div class="column is-mobile is-12">
          <div class="container has-text-centered">
            <div class="card m-3" data-id="{{blogPost.id}}">
              <div class="card-content has-text-centered">
                <div class="content">
                  <h2 class="subtitle">Title: {{blogPost.title}}</h2>
                  <div class="card-body">
                    <p class="has-text-centered">{{blogPost.date_created}}</p>
                    <p class="has-text-centered">{{blogPost.content}}</p>
                    <button
                      class="js-modal-trigger button is-primary has-text-white"
                      data-id="{{blogPost.id}}"
                      id="js-modal-trigger"
                    >Comment post
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
</section>
<div id="comment-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="subtitle has-text-centered">Comment</h2>
      <div class="field">
        <div class="control">
          <textarea
            class="textarea label new-post-content"
            placeholder="Content of your post..."
          ></textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button
            class="button has-background-primary has-text-white"
            type="submit"
            id="post-comment-btn"
          >
            Post comment
          </button>
        </div>
      </div>
    </div>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    id="modal-close"
  ></button>
</div>
<script src="/js/blogPost.js"></script>